<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DETALHES DO CURSO</title>
        <!-- Css para resetar algumas propriedades diferentes da padrão by Kise -->
        <link rel="stylesheet" href="/static/estilo/normakise.css">
        <!-- Css de estilos padrões do projeto -->
        <link rel="stylesheet" type="text/css" href="/static/estilo/site.css">
        <link rel="stylesheet" href="/static/estilo/estiloDetalheCurso.css">
    </head>

    <body>
        <header>
            <div class="container">
                <h1 class="logo">
                    <a href="index"><img src="/static/img/logo.png" alt="[Faculdade Impacta]"></a>
                </h1>
                <nav class="topMenu">
                    <ul class="menu">
                        <li class="menuItem"><a href="listaCursos" class="menuLink">Cursos</a></li>
                        <li class="menuItem"><a href="detalheCurso" class="menuLink">Detalhes dos Cursos</a></li>
                        <li class="menuItem"><a href="disciplina" class="menuLink">Disciplinas</a></li>
                        <li class="menuItem"><a href="noticias" class="menuLink">Notícias</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="principal">
            <table>
                <caption>DETALHES DOS CURSOS</caption>
                <th>Administração</th>
                <tr>
                    <td>Inteligênia de negócios e gestão de projetos</td>
                </tr>
                <th>Análise e desenvolvimento de sistemas</th>
                <tr>
                    <td>Iot, devops e mobile</td>
                </tr>
                <th>Banco de dados</th>
                <tr>
                    <td>Data analytics e big data</td>
                </tr>
                <th>Gestão da tecnologia da informação</th>
                <tr>
                    <td>ERP e gestão de qualidade</td>
                </tr>
                <th>Jogos digitais</th>
                <tr>
                    <td>design de games e game programming</td>
                </tr>
                <th>Processos gerenciais</th>
                <tr>
                    <td>Inteligênia de negócios e viabilidade de projetos</td>
                </tr>
                <th>Produção multimídia</th>
                <tr>
                    <td>web design, audio visual e design digital</td>
                </tr>

                <th>Redes de computadores</th>
                <tr>
                    <td>cloud computing e cyber security</td>
                </tr>
                <th>Sistemas de informação</th>
                <tr>
                    <td>business agility e computação cognitiva</td>
                </tr>
            </table>
        </div>
        <footer>
            <p>Projeto LMS</p>
        </footer>
    </body>
</html>
