<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DISCIPLINA</title>
        <!-- Css para resetar algumas propriedades diferentes da padrão by Kise -->
        <link rel="stylesheet" href="/static/estilo/normakise.css">
        <!-- Css de estilos padrões do projeto -->
        <link rel="stylesheet" type="text/css" href="/static/estilo/site.css">
        <link rel="stylesheet" href="/static/estilo/estiloDisciplina.css">
    </head>

    <body>
        <header>
            <div class="container">
                <h1 class="logo">
                    <a href="index"><img src="/static/img/logo.png" alt="[Faculdade Impacta]"></a>
                </h1>
                <nav class="topMenu">
                    <ul class="menu">
                        <li class="menuItem"><a href="listaCursos" class="menuLink">Cursos</a></li>
                        <li class="menuItem"><a href="detalheCurso" class="menuLink">Detalhes dos Cursos</a></li>
                        <li class="menuItem"><a href="disciplina" class="menuLink">Disciplinas</a></li>
                        <li class="menuItem"><a href="noticias" class="menuLink">Notícias</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="disciplina">
            <h2 class='titulo'>Disciplinas</h2>
            <p>A impacta oferece as disciplinas mais conceituadas e atualizadas do mercado,
                afim de ofercer aos alunos o melhor que existe atualmente.</p>
            <p>Todos os professores possuem mestrado e anos de experiência com a disciplina,
                refletindo em uma qualidade incomparável em relaçãos as outras faculdades.</p>
            <p>O diferencial da faculdade Impacta é ter cerca de 70% das aulas em laboratório,
                oferecendo o contato com a tecnologia desde o inicio.</p>
        </div>
        <footer>
            <p>Projeto LMS</p>
        </footer>
    </body>
</html>
