<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LISTA DE CURSOS</title>
        <!-- Css para resetar algumas propriedades diferentes da padrão by Kise -->
        <link rel="stylesheet" href="/static/estilo/normakise.css">
        <!-- Css de estilos padrões do projeto -->
        <link rel="stylesheet" type="text/css" href="/static/estilo/site.css">
        <link rel="stylesheet" href="/static/estilo/estiloListaCursos.css">
    </head>

    <body>
        <header>
            <div class="container">
                <h1 class="logo">
                    <a href="index"><img src="/static/img/logo.png" alt="[Faculdade Impacta]"></a>
                </h1>
                <nav class="topMenu">
                    <ul class="menu">
                        <li class="menuItem"><a href="listaCursos" class="menuLink">Cursos</a></li>
                        <li class="menuItem"><a href="detalheCurso" class="menuLink">Detalhes dos Cursos</a></li>
                        <li class="menuItem"><a href="disciplina" class="menuLink">Disciplinas</a></li>
                        <li class="menuItem"><a href="noticias" class="menuLink">Notícias</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="principal">
            <h1 class='titulo'>Lista de cursos</h1>
            <table>
                <caption>Cursos disponíveis</caption>
                <tr>
                    <td>Administração</td>
                    <td>Análise e desenvolvimento de sistemas</td>
                    <td>Banco de dados</td>
                </tr>
                <tr>
                    <td>Gestão da tecnologia da informação</td>
                    <td>Jogos digitais</td>
                    <td>Processos gerenciais</td>
                </tr>
                <tr>
                    <td>Produção multimídia</td>
                    <td>Redes de computadores</td>
                    <td>Sistemas de informação</td>
                </tr>

            </table>
        </div>
        <footer>
            <p>Projeto LMS</p>
        </footer>
    </body>
</html>
